MAILTO="tyler@10gen.com"
# MIN   HOUR    DOM     MON     DOW     CMD
0       3       *       *       *       cd playground/duckduckmongo && source env/bin/activate && scripts/jira.py
0       3       *       *       *       cd playground/duckduckmongo && source env/bin/activate && scripts/stack_overflow.py
