MAILTO="tyler@10gen.com"
# MIN   HOUR    DOM     MON     DOW     CMD
0       7       *       *       *       cd ~/playground/duckduckmongo; source env/bin/activate; python scrapers/jira.py
0       7       *       *       *       cd ~/playground/duckduckmongo; source env/bin/activate; python scrapers/stack_overflow.py
0       7       *       *       *       cd ~/playground/duckduckmongo; source env/bin/activate; python scrapers/github.py
0       7       *       *       *       cd ~/playground/duckduckmongo; source env/bin/activate; python scrapers/docs.py
0       7       *       *       *       cd ~/playground/duckduckmongo; source env/bin/activate; python scrapers/profiles.py
0       7       *       *       *       cd ~/playground/duckduckmongo; source env/bin/activate; python scrapers/google_groups.py
0       7       *       *       *       cd ~/playground/duckduckmongo; source env/bin/activate; python scrapers/confluence.py
