MONGO = {
    'credentials': {
        'user': '',
        'password': ''
    },
    'database': 'xgen'
}

GMAIL = {
    'credentials': {
        'user': '',
        'password': ''
    },
    'labels': ['freesupport']
}

JIRA = {
    'credentials': {
        'user': '',
        'password': ''
    },
    'skip': ['FREE']
}

GITHUB = {
    'credentials': {
        'client_id': '',
        'client_secret': ''
    },
    'organizations': ['mongodb']
}

STACK_OVERFLOW = {
    'credentials': {
        'client_id': '',
        'client_secret': '',
        'key': '',
        'access_token': ''
    },
    'tags': ['mongodb']
}

DOCS = {
    'kinds': ['manual', 'ecosystem']
}

MMS_DOCS = {
    'kinds': ['help', 'help-hosted/current']
}

partychapp = {
    'cookies': {
        # log into chat.10gen.com, copy-paste the value of the "ACSID" cookie
        'ACSID': '<paste-your-acsid-cookie-here>'
    }
}
