/*----------------------*/
/* index.html         */
/*----------------------*/

body {
    padding-top: 60px;
}

.center {
    float: none;
    margin: 0 auto;
    text-align: center;
}

.search-box {
    margin: 100px 0px 300px;
}

/*----------------------*/
/* results.html         */
/*----------------------*/


.bounds{
    font-weight:bold;
}

.source-search{
    font-weight:bold;
}

.result-summary {
    font-weight: normal;
    margin-bottom: 0px;
    text-decoration: underline;
}

.result-snippet {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: .9em;
}

.result-snippet img {
    float: right;
    margin-left: 15px;
    margin-top: -10px;
}

.result-url {
    margin-top: 0px;
    font-size: .9em
}

a {
    color: #12c;
}

.pagination {
    margin-top: 30px;
}

.highlight {
    font-weight: bold;
}

.result {
    margin-bottom: 15px;
}

[data-source="jira"] {
    border-left: 3px solid green; padding-left: 5px;
}

[data-source="stack_overflow"] {
    border-left: 3px solid orange; padding-left: 5px;
}

[data-source="github"] {
    border-left: 3px solid black; padding-left: 5px;
}

[data-source="docs"] {
    border-left: 3px solid #6C513A; padding-left: 5px;
}

[data-source="google"] {
    border-left: 3px solid #0000AA; padding-left: 5px;
}

[data-source="profiles"] {
    min-height: 50px;
    border-left: 3px solid #f06d54; padding-left: 5px;
}

[data-source="confluence"] {
    border-left: 3px solid #4444aa; padding-left: 5px;
}

/* Left sidebar on results.html */
#source-list{
    width: 225px;
}

#source-list a{
    color: #333333;
    text-decoration: none;
}

#source-list li{
    line-height: 24px;
    margin-bottom:4px;
}

.source{
    margin-bottom: 15px;
}

.subsource_list{
    margin-top: 5px;
}

.subsource{
    font-size: .8em;
    margin-left: 40px;
    line-height: 1.6em;
}

.selected{
    background-color:#DDD;
    font-weight:bold;
}

.source .subsource_count{
    font-weight: bold;
}

.source_icon{
    background-size:24px 24px;
    background-repeat:no-repeat;
    width:24px;
    height:24px;
    display:inline-block;
    padding-right: 5px;
}

.google_groups_icon{
    background-image:url('/static/img/icon-google.png');
}

.github_icon{
    background-image:url('/static/img/icon-github.png');
}

.stack_overflow_icon{
    background-image:url('/static/img/icon-stack-overflow.png');
}

.jira_icon{
    background-image:url('/static/img/icon-jira.png');
}

.chat_icon{
    background-image:url('/static/img/icon-chat.png');
}

.docs_icon{
    background-image:url('/static/img/icon-docs.png');
}

.profiles_icon{
    background-image:url('/static/img/icon-profiles.png');
}

.confluence_icon{
    background-image:url('/static/img/icon-confluence.png');
}

.nonzero{
    font-weight: bold;
}

.gh-commit-message{
    font-weight:bold;
}

.gh-avatar{
    width:32px;
    height:32px;
}
