{% extends "base.html" %}
{% block content %}
<div class="search-box">
    <div class="span8 center">
        <form class="form-search" method="get" action="/search">
            <div class="input-append">
                <input class="span6" type="text" name="query" placeholder="Search" autofocus="autofocus">
                <button type="submit" class="btn">Submit</button>
            </div>
        </form>
        <p class="center">Powered by MongoDB v{{version}}</p>
        <small><a href="/status">Scraper Status</a></small>
    </div>
</div>
{% endblock %}

{% block footer %}
<div class="center muted">
    <p>
        <small>
            To search for documents that contain the term "node.js"
            <strong>AND</strong>
            the term "memory leak" use:
        </small>
    </p>
    <code>"node.js" "memory leak"</code>
</div>
{% endblock %}
