{% extends "base.html" %}
{% block content %}
<div class="search-box">
    <div class="span8 center">
        <form class="form-search" method="get" action="/search">
            <div class="input-append">
                <input class="span6" type="text" name="query" placeholder="Search" autofocus="autofocus">
                <button type="submit" class="btn">Submit</button>
            </div>
        </form>
        <p class="center">Powered by MongoDB v{{version}}</p>
    </div>
</div>

<div class="status-box span8 center">
    <table class="table">
        <tr>
            <th>Scraper</th>
            <th>Status</th>
            <th>Last Run</th>
        </tr>
        {% for source, scrape in scrapes.items() %}
            <tr>
                <td>{{ source }}</td>
                <td>
                    {% if scrape.state == 'running' %}
                        <span class="label label-info">
                    {% elif scrape.state == 'complete' %}
                        <span class="label label-success">
                    {% elif scrape.state == 'error' %}
                        <span class="label label-danger">
                    {% endif %}
                    {{ scrape.state }}
                    </span>
                </td>
                <td>{{ scrape.start.strftime('%m/%d/%Y %I:%M %p') }} UTC</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}

{% block footer %}
<div class="center muted">
    <p>
        <small>
            To search for documents that contain the term "node.js"
            <strong>AND</strong>
            the term "memory leak" use:
        </small>
    </p>
    <code>"node.js" "memory leak"</code>
</div>
{% endblock %}
